  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }	  

#frow {
  
  margin-top:-10px!important;
  
}

.loading {width: 100%; height: 100%;}

.tabs .indicator {
  height: 5px;
  background-color: #fff;

}  

.logo {width: 220px;
    background: white;
    border-radius: 18px;
    margin-top: 4px;
}

.titulo{
  font-size: 18px;
}

#firma1 {
  width: 250px ;
}

#firma2 {
  width: 250px ;
}

#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


.modalubicacion{
  width: 90% !important;
  max-height: 85% !important;
}

#tablaSolicitudes.dataTable td {
  padding: 12px 4px !important;
}

#frmSolicitudCredito {
  text-align: left !important;
}

.imgFoto{
  border: #dedede 1px solid;
  width: 60px;
}